head{
   
}

h1{ 
   display:block;
   
   font-family: 'Lobster';
   font-size: 40px;
   width: 100%;
}

body{
   height: 100%;
   font-family: 'Courier', 'Courier new', serif;
}

#button{
   display: inline-block;
   border-color: black;
   color: brown;
   font-family: 'Courier', 'Courier new', serif;
}
html {
    height: 100%;
}

#content {
    background-color: #333538;
    height: 100%;
    padding: 10px;
}
